.general-container-empleados {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  height: 100vh;
  width: 100%;
}

.title {
  color: #000000;
  display: flex;
  text-align: start;
  padding-bottom: 2rem;
  width: 80vw;
}

.carga {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
}

form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 10px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #c3d7e163;
}

form .form-label {
  color: #000000;
}

.datos-empleado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
