.general-container-empleados{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
    height: 80vh;
    width: 100vw;
}

.title-name{
    color: #D9DCD6
}

form{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form .form-label{
    color: #D9DCD6;
}

.datos-empleado{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}