<div class="container-cabecera">
  <div class="container-datos">
    @if (estaLogueado && rolUsuario === "admin" || estaLogueado && rolUsuario === "super-admin") {
    <div class="container-data">
      <div class="container-title">
        <h1>Evasys</h1>
      </div>
      <div class="container-enlaces">
        <mat-list>
          <mat-list-item
            ><a routerLink="empleados/listadoEmpleados" role="button"
              ><i class="fa-solid fa-users"></i> Empleados</a
            ></mat-list-item
          >
          <mat-list-item
            ><a routerLink="empleados/listadoAuditeles" role="button"
              ><i class="fa-solid fa-headset"></i> Auditeles</a
            ></mat-list-item
          >
          <!-- De esto se encarga un superAdministrador -->
          @if (estaLogueado && rolUsuario === "super-admin") {
          <mat-list-item
            ><a routerLink="empleados/listadoCoordinadores" role="button"
              ><i class="fa-solid fa-users-gear"></i> Coordinadores</a
            ></mat-list-item
          >
          <mat-list-item
            ><a routerLink="empleados/listadoCentros" role="button"
              ><i class="fa-solid fa-building"></i> Centros</a
            ></mat-list-item
          >
          <mat-list-item
            ><a routerLink="empleados/listadoDepartamentos" role="button"
              ><i class="fa-solid fa-map-pin"></i> Departamentos</a
            ></mat-list-item
          >
          }
        </mat-list>
      </div>
    </div>
    <div class="container-logout">
      <h1>@{{ nombreCoordinador }}</h1>
      <button class="btn btn-outline-danger" routerLink="/" (click)="cerrarSesion()">
        Cerrar sesión
      </button>
    </div>
    }
  </div>
</div>
