.container-cabecera {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  border-top-right-radius: 1rem;
  box-shadow: 1px 1px 10px #474747;
}

.container-datos {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.container-data {
  display: flex;
  flex-direction: column;
}

mat-list-item {
  width: 100%;
  padding: 0;
  gap: 1rem;
}

.container-enlaces {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.container-enlaces button {
  display: flex;
  justify-content: center;
}

.container-title {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.container-enlaces a {
  text-decoration: none;
  color: black;
}

.container-enlaces a:hover {
  color: #2f6690;
}

.container-logout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.container-logout button {
  width: 100%;
}

.userImage {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
