.general-container-coordinador {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem;
    min-height: 80vh; 
    height: auto;
    width: 100vw;
}

.title-name {
    color: #D9DCD6;
}

form {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

form .form-label {
    color: #D9DCD6;
}

.datos-coordinador {
    min-height: 80vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 20px;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0;
}

.mat-expansion-panel-animations-enabled .mat-expansion-panel-header {
    height: var(--mat-expansion-header-expanded-state-height, 3rem);
}

.mat-expansion-panel-header {
    padding: 0;
}

.container-header {
    display: flex;
    width: 100%; 
    justify-content: space-between;
    align-items: center;
}

.title-header {
    padding: 10px;
}

.buttons-header {
    display: flex;
    gap: 1rem;
}