.coordinadores-container {
  display: grid;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #ffffff;
  padding: 0.5rem;
  width: 26vw;
  box-shadow: 1px 1px 10px #474747;
}

.datos-coordinador {
  padding: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.datos-coordinador .nombre-usuario {
  font-weight: bold;
}

.botones-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  border-radius: 2rem;
}
