.general-container-coordinador{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
}

.coordinadores-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}