.general-container-departamento{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
}

.departamentos-list-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 2rem;
}

.carga{
    display: flex;
    height: 80vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}