.general-container-empleados{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    margin: 0.5rem;
}

.empleados-list-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
}