.general-container-centros {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 100%;
  height: 100vh;
}

.centros-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 2rem;
  justify-content: space-between;
  overflow-y: auto;
}

.carga {
  display: flex;
  height: 80vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
}
