.general-container-empleados {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* importante: flex-start, no center */
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.title {
  color: #000000;
  display: flex;
  text-align: start;
  padding-bottom: 2rem;
  width: 80vw;
}

.form-group-completo {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 1px 1px 10px;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #c3d7e163;
}

form .form-label {
  display: flex;
  justify-content: space-around;
  color: #000000;
}

.kpis-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.kpis-container form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.5rem;
}

.kpis-container form mat-radio-group {
  display: flex;
  width: 100%;
}

mat-expansion-panel {
  width: 100%;
  margin-bottom: 2rem;
}

.datos-empleado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chip-group {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.chip-group input {
  display: none;
}

.container-label {
  width: 22rem;
}

.chip-group label {
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  border: 2px solid #7f91a3;
  font-size: 1rem;
  cursor: pointer;
  color: #000000;
  height: 3rem;
  transition: all 0.15s;
  background-color: white;
  align-content: center;
}

.chip-group label:hover {
  border-color: #3a7bd5;
  color: #3a7bd5;
}

.chip-group input:checked + label {
  background: #3a7bd5;
  border-color: #3a7bd5;
  color: white;
}
