.general-container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.title-section{
    margin-bottom: 2rem;
    text-align: start;
    color: #000000;
}

.title-section h1{
    font-size: 2rem;
    font-weight: 100;
}

.form-iniciar-sesion{
    width: 50rem;
    padding: 1rem;
    background-color: #d9dcd663;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px;
}

.form-iniciar-sesion form{
    padding: 2rem;
}