.barra-busqueda-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #D9DCD6;
}

.busqueda{
    display: flex;
    height: 3rem;
    gap: 2rem;
    justify-content:space-between;
}

.busqueda input{
    width: 90vw;
    box-shadow: 1px 1px 10px;
}

.busqueda button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    font-size: 14px;
    box-shadow: 1px 1px 10px;
}