<div class="barra-busqueda-container">
  <h1>{{valorBusqueda}}</h1>
  <div class="busqueda">
    <input type="text" class="form-control" [formControl]="controlBusqueda" placeholder=""/>
    @for (nombreBoton of arrayBotones; track $index) {
        @if (nombreBoton.includes('empleado')) {
            <button class="btn btn-light" routerLink="/empleados/agregarEmpleado">{{nombreBoton}}</button>
        }
        @else if (nombreBoton.includes('auditel')) {
            <button class="btn btn-light" routerLink="/empleados/agregarAuditel">{{nombreBoton}}</button>
        }
        @else if (nombreBoton.toLocaleLowerCase().includes('generar')) {
            <button class="btn btn-light" routerLink="/empleados/generarInforme">{{nombreBoton}}</button>
        }
    }
  </div>
</div>
