.general-container-auditeles {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}

.auditeles-list-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 2rem;
}

.carga {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
